---
import CharacterCard from "../components/CharacterCard.vue";
import CharacterDetail from "../components/CharacterDetail.astro";
import characters from "../data/characters";
import type { Character } from "../types/interfaces";

let selectedCharacter: Character | null = null;
---

<html>
  <head>
    <title>Character Selector</title>
  </head>
  <body>
    <CharacterDetail character={characters[0]}></CharacterDetail>
    <!-- <div>
      {
        characters.map((character) => (
          <CharacterCard character={character} />
        ))
      }
    </div> -->
  </body>
</html>
